@import url("https://fonts.googleapis.com/css?family=Almarai&display=swap");

body {
  font-family: "Almarai", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.topnav h1{
  float: left;
  color: #f2f2f2;
  font-family: cursive;
  font-size: 40px;
  margin: 0px;

}
.topnav {
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.split {
  color: white;
}

#showcase h1{
  background: black;
  background-clip: text;
  color: transparent;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: left;
  margin-top: 10px;
}
header a:hover{
  color:white;
  font-weight: bold;
}

#showcase {
  height: 450px;
  background:url("images/tesla.jpg") no-repeat center;
  background-size: cover;
  text-align:left;
  color: white;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

#boxes {
  margin-top: 20px;
}

#boxes .box{
  float: right;
  text-align: center;
  width: 30%;
  padding: 10px;
}
		
:root {
	font-size: 15px;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}		

footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #333;
  text-align:center;
}
